/* Colores */
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "poppins";
  color: rgb(0, 145, 48);
}

.navbar-light .navbar-brand {
  color: rgb(0, 145, 48);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Son propiedades que se utilizan lo  mismo  valores que se reutilizan */
.wrap .btn-sobre-mi .wrapp-sectiones {
  display: flex;
  justify-content: end;
  align-items: center;
}

.wrapp-item-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapp-item-2 .icons, .wrapp-item-2 .icons-2 {
  display: flex;
  align-items: center;
}

/* tipografia */
.wrap {
  padding-top: 1.5%;
}
.wrap .section-padding {
  padding: 100px 0;
  margin: 0px;
}
.wrap .img-perfil {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.wrap .wrapp-flex-arg {
  display: flex;
  gap: 8px;
}
.wrap .wrapp-item {
  color: rgb(0, 0, 0);
}
.wrap .wrapp-card-infor {
  display: grid;
  place-items: center;
  padding: 20px;
}
.wrap .wrapp-parrafo {
  font-family: "poppins";
  font-size: 18px;
}
.wrap .subtitulo {
  font-size: 45px;
  font-family: "pooppins";
  font-weight: 900;
}
.wrap .span-verde {
  color: rgb(10, 255, 92);
  font-family: "pooppins";
  font-weight: 900;
}
.wrap .h4-text-subti {
  font-family: "poppins";
  font-size: 35px;
  font-weight: 700;
  padding-top: 15px;
}
.wrap .-caja-btn {
  padding-top: 30px;
}
.wrap .-parrafo-btn {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.wrap .btn-sobre-mi {
  border: none;
  border-radius: 8px;
  padding: 15px 25px;
  outline: 1px solid rgb(0, 0, 0);
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  /* animaciones btn sobre mi */
}
.wrap .btn-sobre-mi::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: rgb(0, 145, 48);
  transition: all 500ms ease;
  z-index: -1;
}
.wrap .btn-sobre-mi.btn-sobre-mi::before {
  width: 0;
  height: 100%;
}
.wrap .btn-sobre-mi.btn-sobre-mi:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.wrap .btn-sobre-mi.btn-sobre-mi:hover::before {
  width: 100%;
}
.wrap .btn-sobre-mi .wrapp-sectiones {
  gap: 15px;
}

.linea-color {
  color: rgb(0, 145, 48);
  cursor: pointer;
}
.linea-color .parrafo {
  font-family: "poppins";
  font-size: 18px;
  font-weight: 400;
}

/* iconos de home */
.wrapp-item-2 {
  gap: 15px;
  padding-top: 5%;
}
.wrapp-item-2 .icons {
  padding-left: 10px;
  border-radius: 60%;
  right: 10px;
  width: 48px;
  height: 48px;
  outline: 2px solid rgb(0, 145, 48);
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.wrapp-item-2 .icons:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}
.wrapp-item-2 .icons-2 {
  padding-left: 15px;
  border-radius: 60%;
  right: 10px;
  width: 48px;
  height: 48px;
  outline: 2px solid rgb(0, 145, 48);
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.wrapp-item-2 .icons-2:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}
.wrapp-item-2 .icon {
  color: black;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

/*# sourceMappingURL=style.css.map */
