/* Colores */
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "poppins";
  color: rgb(0, 145, 48);
}

.navbar-light .navbar-brand {
  color: rgb(0, 145, 48);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Son propiedades que se utilizan lo  mismo  valores que se reutilizan */
.wrap .btn-sobre-mi .wrapp-sectiones {
  display: flex;
  justify-content: end;
  align-items: center;
}

.wrapp-item-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.wrapp-item-2 .icons, .wrapp-item-2 .icons-2 {
  display: flex;
  align-items: center;
}

/* tipografia */
.wrap {
  padding-top: 1.5%;
}
.wrap .section-padding {
  padding: 100px 0;
  margin: 0px;
}
.wrap .img-perfil {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}
.wrap .wrapp-flex-arg {
  display: flex;
  gap: 8px;
}
.wrap .wrapp-item {
  color: rgb(0, 0, 0);
}
.wrap .wrapp-card-infor {
  display: grid;
  place-items: center;
  padding: 20px;
}
.wrap .wrapp-parrafo {
  font-family: "poppins";
  font-size: 18px;
}
.wrap .subtitulo {
  font-size: 45px;
  font-family: "pooppins";
  font-weight: 900;
}
.wrap .span-verde {
  color: rgb(10, 255, 92);
  font-family: "pooppins";
  font-weight: 900;
}
.wrap .h4-text-subti {
  font-family: "poppins";
  font-size: 35px;
  font-weight: 700;
  padding-top: 15px;
}
.wrap .-caja-btn {
  padding-top: 30px;
}
.wrap .-parrafo-btn {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.wrap .btn-sobre-mi {
  border: none;
  border-radius: 8px;
  padding: 15px 25px;
  outline: 1px solid rgb(0, 0, 0);
  position: relative;
  text-transform: uppercase;
  background-color: transparent;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 0;
  /* animaciones btn sobre mi */
}
.wrap .btn-sobre-mi::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  background-color: rgb(0, 145, 48);
  transition: all 500ms ease;
  z-index: -1;
}
.wrap .btn-sobre-mi.btn-sobre-mi::before {
  width: 0;
  height: 100%;
}
.wrap .btn-sobre-mi.btn-sobre-mi:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.wrap .btn-sobre-mi.btn-sobre-mi:hover::before {
  width: 100%;
}
.wrap .btn-sobre-mi .wrapp-sectiones {
  gap: 15px;
}

.linea-color {
  color: rgb(0, 145, 48);
  cursor: pointer;
}
.linea-color .parrafo {
  font-family: "poppins";
  font-size: 18px;
  font-weight: 400;
}

/* iconos de home */
.wrapp-item-2 {
  gap: 15px;
  padding-top: 5%;
}
.wrapp-item-2 .icons {
  padding-left: 10px;
  border-radius: 60%;
  right: 10px;
  width: 48px;
  height: 48px;
  outline: 2px solid rgb(0, 145, 48);
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.wrapp-item-2 .icons:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}
.wrapp-item-2 .icons-2 {
  padding-left: 15px;
  border-radius: 60%;
  right: 10px;
  width: 48px;
  height: 48px;
  outline: 2px solid rgb(0, 145, 48);
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.wrapp-item-2 .icons-2:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}
.wrapp-item-2 .icon {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

/* tipografia */
.about-text {
  font-family: "poppins";
  font-size: 18.5px;
  font-weight: 300;
}
.about-text .subtitulos-h2 {
  font-family: "poppins";
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
}

.hr {
  color: rgb(0, 145, 48);
  font-size: 1rem;
}

footer {
  background-color: rgb(248, 249, 250);
}
footer .wrapp-footer- {
  gap: 50px;
}
footer .social li {
  display: inline-block;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 30px;
  padding: 0cm;
}
footer .social a {
  padding-top: 4px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  font-size: 26px;
}
footer .social a:hover {
  color: rgb(0, 145, 48);
}
footer ul {
  list-style-type: none;
}
footer .wrapp-list {
  gap: 15px;
}
footer .wrapp-h4 {
  font-family: "poppins";
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 145, 48);
}
footer .text-footer {
  text-decoration: none;
  font-family: "poppins";
  font-weight: 500;
  font-style: normal;
  color: #000;
}
footer .pr-5 {
  font-family: "poppins";
  font-weight: 500;
  font-style: normal;
  color: rgb(0, 0, 0);
}
footer .copy {
  font-family: "poppins";
  font-weight: 15px;
  font-style: 400;
}
footer .copyright {
  font-size: 1.8rem;
  text-shadow: 1px 1px solid rgb(0, 145, 48);
  border-top: 1px solid rgb(0, 145, 48);
  border-bottom: 1px solid rgb(0, 145, 48);
}

.container {
  padding-bottom: 10px;
}
.container .section-iconos- {
  width: 45px;
  height: 45px;
}
.container .section-subtitulo- {
  font-family: "poppins";
  font-size: 35px;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 145, 48);
}
.container .wrp-subtitulo- {
  font-family: "poppins";
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
  padding-top: 8px;
  padding-left: 5px;
  color: rgb(0, 0, 0);
}
.container .section-p- {
  font-family: "poppins";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}
.container .img-wrapp {
  width: 100%;
  border-radius: 8px;
}

/* tipografia */
.form-area {
  padding-top: 6%;
}
.form-area .single-form {
  box-shadow: 0 2px 20px -5px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
.form-area .left {
  background-color: rgb(10, 255, 92);
  padding: 210px 100px;
  border-radius: 8px;
}
.form-area .h2 {
  font-family: "poppins";
  font-size: 40px;
  font-weight: 500;
}
.form-area span {
  font-family: "poppins";
  font-size: 40px;
  font-weight: 300;
}
.form-area .form-label {
  font-family: "poppins";
  font-size: 20px;
  font-weight: 300;
}
.form-area .right {
  padding: 70px 100px;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.form-area .btn {
  font-size: 20px;
  font-family: "poppins";
  font-weight: 300;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

/*# sourceMappingURL=style.css.map */
