@use '../scss/leyout/navbar';
@use '../scss/leyout/index';
@use '../scss/leyout/iconos';
@use '../scss/leyout/sobre-mi';
@use '../scss/leyout/footer';
@use '../scss/leyout/habilidad';
@use '../scss/leyout/contacto';
@use '../scss/leyout/mq';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}