*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-padding{
    padding: 100px 0;
    margin: 0px;
}

.wrapp-item{
    color: blue;
}

.img-perfil{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}