/* Son propiedades que se utilizan lo  mismo  valores que se reutilizan */

%flexBasico{
    display: flex;
    justify-content: end;
    align-items: center;
}

%flexBasico2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

%flexBasico3{
    display: flex;
    align-items: center;
}

%flexBasico4{
    display: flex-start;
    align-items: center;
}


%flexColumn{
    display: grid;
    place-items: center;
}

