/* Son propiedades que tienen distintos valores | se incluye de esta manera @extend %flexBasicos;*/

/* tipografia */
@mixin tipografias($tipografia,$tamanio) {
    font-family: $tipografia;
    font-size: $tamanio;
}

@mixin tipografias($tipografia,$tamanio, $valor) {
    font-family: $tipografia;
    font-size: $tamanio;
    font-weight: $valor;
}

@mixin tipografias($tipografia,$tamanio, $valor, $normal) {
    font-family: $tipografia;
    font-size: $tamanio;
    font-weight: $valor;
    font-style: $normal;
}



