/* Son propiedades que tienen distintos valores | se incluye de esta manera @extend %flexBasicos;*/

@mixin flex-center($justify, $align, $gap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;

}


