
@keyframes move {
    from{
        transform: translateX(-100px);
    }

    to{
        transform: translateX(5px);
    }
}

/* keyframes animation */
@keyframes showRight {
    100%{
        width: 0;
    }
}