@use '../utilitis/variables';
@use "../utilitis/extends";

/* tipografia */
@mixin tipografias($tipografia,$tamanio, $valor) {
    font-family: $tipografia;
    font-size: $tamanio;
    font-weight: $valor;
}

.form-area{
    padding-top: 6%;

    .single-form{
        box-shadow: 0 2px 20px -5px variables.$color-1;
        background-color: variables.$color-4;
        border-radius: 8px;
    }

    .left{
        background-color: variables.$color-2;
        padding: 210px 100px;
        border-radius: 8px;
    }

    .h2{
        @include tipografias("poppins", 40px, 500)
    }

    span{
        @include tipografias("poppins", 40px, 300)
    }

    .form-label{
        @include tipografias("poppins", 20px, 300)
    }

    .right{
        padding: 70px 100px;
        position: relative;
        background-color: variables.$color-4;
    }

    .btn{
        font-size: 20px;
        font-family: "poppins";
        font-weight: 300;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 8px;
    }

}

