@use '../utilitis/variables';
@use "../utilitis/extends";

@mixin tipografias($tipografia,$tamanio, $valor, $normal) {
    font-family: $tipografia;
    font-size: $tamanio;
    font-weight: $valor;
    font-style: $normal;
}



.container{
    padding-bottom: 10px;

    .section-iconos-{
        width: 45px;
        height: 45px;
    }

    .section-subtitulo-{
        @include tipografias("poppins", 35px, 400, normal);
        color: variables.$color-3;
    }
    
    .wrp-subtitulo-{
        @include tipografias("poppins", 25px, 400, normal);
        padding-top: 8px;
        padding-left: 5px;
        color: variables.$color-1;
    }

    .section-p-{
        @include tipografias("poppins", 20px, 400, normal);
    }
    
    .img-wrapp{
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
    }
}
